
<section class="mission-section">
  <div class="mission-text">
    <h1>La nostra missione:</h1>
    <h2>Rendere semplice la costruzione delle applicazioni LLM del futuro, oggi. </h2>
    <p>Costruiamo prodotti che consentono agli sviluppatori di passare da un'idea al codice funzionante 
          in un pomeriggio e nelle mani degli utenti in giorni o settimane.
           Siamo orgogliosi di supportare 
          oltre 100.000 aziende che scelgono di costruire con la nostra tecnologia. E abbiamo costruito 
          strumenti per supportare tutte le fasi del ciclo di vita dell'ingegneria AI, per portare le 
          applicazioni in produzione più velocemente.
    
  </div>

  <div class="leadership-team">
    <div *ngFor="let member of teamMembers" class="team-member">
      <img [src]="member.photoUrl" [alt]="member.name">
      <h3>{{ member.name }}</h3>
    </div>
  </div>
</section>